In [1]:
import pandas as pd
import pyflux

In [2]:
df = pd.read_csv(r'../../data/cases/CA_JHU_cases.csv')
df['measure'] = df.apply(lambda row: row['state'] + '.' + row['measure'], axis=1)
del df['state']
df.head()

,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,California.JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1782877.0,1788981.0,1795324.0,1800248.0,1804580.0,1812684.0,1820994.0,1827585.0,1827585.0,1827585.0
1,California.JHU_ConfirmedCases.missing,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,...,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0
2,California.JHU_ConfirmedDeaths.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39877.0,40103.0,40275.0,40382.0,40433.0,40446.0,40612.0,40843.0,40843.0,40843.0
3,California.JHU_ConfirmedDeaths.missing,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,...,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0
4,California.JHU_ConfirmedRecoveries.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
cases = df[df['measure']=='California.JHU_ConfirmedCases.data']
cases.head()

,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,California.JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1782877.0,1788981.0,1795324.0,1800248.0,1804580.0,1812684.0,1820994.0,1827585.0,1827585.0,1827585.0

In [6]:
ts = cases.T
ts.columns = ts.iloc[0]
ts = ts[1:]
ts.head()

measure    California.JHU_ConfirmedCases.data
2020-01-01                                  0
2020-01-02                                  0
2020-01-03                                  0
2020-01-04                                  0
2020-01-05                                  0